body{
  background-image:url("music.jpg");
  background-size: 1920px 1080px;
  background-repeat: no-repeat;
  background-attachment: inherit;
}
#a1{
  background-color: orange;
  font-size: 69px;
  font-style: bold;
  opacity: 60%;
}
small{
  color: white;
}
